
<%= @game.players.last.name %> attacked <%= @game.players.first.name %>

<% if @game.players.first == @game.player_1 %>

<a href="/play"> Back to BATTLE!! </a>

<% else %>

<META HTTP-EQUIV="refresh" CONTENT="3;URL=/compplay">

<% end %>
